.form{
    margin-left: 200px;
    margin-right: 200px;
}

.errorMessage{
    color: red;
    margin-left: 200px;
    margin-right: 200px;
}

.succesMessage{
    margin-left: 200px;
    margin-right: 200px;
}